html, body {
   width:  100%;
   height: 100%;
   margin: 0;
}

body h1 {
   text-align:center;
}

/*
#turtlecanvas {
   background:#fff;
   border: 1px solid red;
   position:fixed;
   left:0;
   top:0;
   width:100%;
   height:100%;
}
*/