<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alpay.codenotes">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/codenoteslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/codenoteslogo_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name=".activities.CodeBlocksResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.BaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CodeNotesCompilerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.CameraActivity" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity android:name="com.github.florent37.camerafragment.PreviewActivity" />
        <activity
            android:name=".activities.StoryViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <!-- Auth UI demo -->
        <activity
            android:name=".activities.AuthUiActivity"
            android:label="@string/title_auth_activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>

        <!-- Realtime database demo -->
        <activity
            android:name=".database.realtime.RealtimeDbChatActivity"
            android:label="@string/title_realtime_database_activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <!-- Realtime database paging demo -->
        <activity
            android:name=".database.realtime.FirebaseDbPagingActivity"
            android:label="@string/title_realtime_database_paging_activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".database.realtime.RealtimeDbChatIndexActivity"
            android:label="@string/title_realtime_database_activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <!-- Storage UI demo -->
        <activity
            android:name=".storage.ImageActivity"
            android:label="@string/title_storage_activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2edf501d14eeb3985c921e718a13f3fb5203b32d" />
    </application>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

</manifest>